
.hbox {
   display: -webkit-box;
   -webkit-box-orient: horizontal;
   -webkit-box-align: stretch;
   position: relative;
}

.vbox {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-box-align: stretch;
}
