a {text-decoration: none;color: #15c}
.subject {font-weight:bold;color:#333}
.overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(250, 250, 250, 0.9);
   display: none;
}
.loading {
   opacity:0.7;
   background-image: url('/images/ajax-loader.gif');
   background-position: center center;
   background-repeat: no-repeat;
   background-size:34px;
}

.icon {display:inline-block;opacity:.55;width:21px;height:21px;background-image:url(/images/sprite_black2.png);background-repeat: no-repeat}
.icon:hover {opacity:1;cursor:pointer}
.optionsIcon {opacity:0.4;background-image: url('/images/options.png');background-position: 3px 3px;background-size: 16px}
.refresh {margin-left:2px;background-position:-63px -20px;}
.close {background-image:url(/images/sprite_black.png) !important;background-position:-118px -117px}

.backToInbox {padding:4px 16px !important}


#inboxes .button {opacity:0.5}
.markAsRead {padding:4px 11px}
.hugRight {margin-right:-1px}

.dropdownArrow {height:21px;padding:4px 4px !important}
.dropdownArrow div {display:inline-block}
.dropdownArrow div:nth-child(2) {background-image:url(/images/sprite_black2.png);background-position:-42px -84px}
