a {text-decoration: none;color: #15c}
.subject {font-weight:bold;color:#333}
.overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(250, 250, 250, 0.9);
   display: none;
}
.loading {
   opacity:0.7;
   background-image: url('/images/ajax-loader.gif');
   background-position: center center;
   background-repeat: no-repeat;
   background-size:34px;
}

.icon {display:inline-block;opacity:.55;width:21px;height:21px;background-image:url(/images/sprite_black2.png);background-repeat: no-repeat}
.icon:hover {opacity:1;cursor:pointer}
.optionsIcon {opacity:0.4;background-image: url('/images/options.png');background-position: 3px 3px;background-size: 16px}
.refresh {margin-left:2px;background-position:-63px -20px;}
.close {background-image:url(/images/sprite_black.png) !important;background-position:-118px -117px}

.backToInbox {padding:4px 16px !important}


#inboxes .button {opacity:0.5}
.markAsRead {padding:4px 11px}
.hugRight {margin-right:-1px}

.dropdownArrow {height:21px;padding:4px 4px !important}
.dropdownArrow div {display:inline-block}
.dropdownArrow div:nth-child(2) {background-image:url(/images/sprite_black2.png);background-position:-42px -84px}

.hbox {
   display: -webkit-box;
   -webkit-box-orient: horizontal;
   -webkit-box-align: stretch;
   position: relative;
}

   		::-webkit-scrollbar {width:12px;height:8px} /* must balance width with initFixedArea() right */
		::-webkit-scrollbar:hover, html.notif ::-webkit-scrollbar {border:1px solid #ccc}
		::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,0.2);-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);}
		::-webkit-scrollbar-thumb:hover {background:rgba(0,0,0,0.4)}
		::-webkit-scrollbar-button {width: 0;height: 0;display: none;}
		::-webkit-scrollbar-corner {background-color: transparent}
		
		html.notif ::-webkit-scrollbar {width:12px}

		body {font-family: arial, sans-serif;font-size: 0.8em;margin:0 0 0 2px}
		a:hover {text-decoration:underline}
		img {vertical-align: text-top}
		
		html {overflow:hidden;position:relative}
		
		html {min-width:631px}
		#inboxes, #contacts {width:631px}		
		html.externalPopupWindow {min-width:851px}
		html.externalPopupWindow #inboxes, html.externalPopupWindow #contacts {width:851px}
		
		html.notif #inboxes {width:298px}
		
		html.notif {min-width:inherit}
		html.notif #header, html.notif #menu {display:none}
		html.notif #scrollAreaWrapper {padding-top:0}
		
		html.notif .inbox {margin-top:0}
		html.notif .account:first-child .inbox {border-top:none}

		html.hideInbox .inboxLabelAreaWrapper {display:none}
		html.hideInbox .mail:first-child {border-top:none !important}
		
		html.notif #fullEmailSubjectArea {display:none}

		html.notif .mail .date {font-weight:normal}
		
		html.notif #inboxes .mail .quickActions {opacity:0;-webkit-transition: opacity 250ms ease-out;}
		
		html.notif #inboxes .mail .star {position:absolute;right:2px;top:18px;z-index:2;background-color:white}
		html.notif #inboxes .mail.read .star {background-color:transparent}

		html.alwaysShowActionButtons #inboxes .mail .quickActions,
		html.notif #inboxes .mail:hover .quickActions {opacity:1;display:inline}
		
		html.alwaysShowActionButtons #inboxes .mail .date,
		html.notif #inboxes .mail:hover .date {display:none}
	
		html.alwaysShowActionButtons #inboxes .mail .star,
		html.notif #inboxes .mail:hover .star {display:inline-block}
		
		html.alwaysShowActionButtons #inboxes .mail .open,
		html.notif #inboxes .mail:hover .open {display:inline-block}
		
		html.alwaysShowActionButtons #inboxes .mail .reply,
		html.notif #inboxes .mail:hover .reply {display:inline-block}
		
		html.notif .inboxActions {display:none}
		
		html.notif .mail.selected {background:none}
		
		html.notif #fullEmailActionButtons {padding:4px 5px}
		
		html.notif .labelsDropDown {max-height:60px;max-width:145px}
		
		html.notif .fullEmailToCC {max-width:170px;white-space:nowrap}
		
		html.notif .emailDetailsTopRight {padding-left:0}
		
		html.notif #inboxes .star {display:none}
		html.notif #inboxes .quickActions {display:none}
		html.notif #inboxes .open {display:none}
		html.notif #inboxes .reply {display:none}
		
		html.notif:not(.lotsOfButtons) #inboxes .button {box-shadow:2px 2px 5px #666}
		html.notif.lotsOfButtons #inboxes .button, html.notif #fullEmailActionButtons .button {padding:0px 1px !important}
		html.notif.lotsOfButtons #inboxes .button div {height:16px;background-size:21px 15px}
		html.notif.lotsOfButtons #inboxes .button.markAsRead div {overflow:hidden;max-width:72px;padding:0px 3px;line-height:16px}
		html.notif.lotsOfButtons #inboxes .button.spam div {background-position: 0px 0px}
		
		html.notif .summary {white-space:normal}
		html.notif #inboxes .mail:not(.read) .summary {opacity:1}
		html.notif .mail.selected .summary {xxxwhite-space:nowrap}
		
		
		html.notif #inboxes {max-height:160px;margin-right:0} 
		html.notif #fullEmailContent {max-height:125px}
		html.notif #fullEmailContent a:hover {text-decoration:underline !important}
		
		.inline-block {display:inline-block}
		
		#topRightControls {position:absolute;top:5px;right:5px} /* display:inline-block;float:right */
		
		.listenToEmail {margin-right:10px;opacity:0.7}
		html.notif .listenToEmail {margin-right:-2px}
		.listenToEmail:hover {opacity:1}
		
		.emailZoom {width:40px;opacity:0.7;height:10px;margin-top:13px}
		.emailZoom:hover {opacity:1}
		
		html.notif .emailZoom {width:22px;margin-top:7px} 
		
		#scrollAreaWrapper {width:100%;clear:left;overflow:hidden;padding-top:7px}
		#scrollArea {left:0;position:absolute;width:2200px}
		
		.inbox {border: 1px solid #ddd}
		.inbox, .inboxLabelAreaWrapper {border-radius:6px 0 0 0}
		.inboxLabelArea, .emailDetails {overflow:hidden;white-space:nowrap;margin-right:3px;margin-top:3px}
		html.notif .inboxLabelArea, html.notif .emailDetails {xxxoverflow:auto;white-space:normal}
		
		.subject {margin:4px 0;display:inline-block}
		xxx.label {display:none;xxxdisplay:inline-block;background:#DDD;color:#666;white-space:nowrap;font:11px arial,sans-serif;margin-left:3px;padding: 0 5px}
		
		.inboxLabelAreaWrapper, .labelHeader {background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f3f3f3));xxbackground:#f7f7f7}		
		.inboxLabelAreaWrapper:hover .inboxFor, .labelHeader:hover {text-shadow:1px 1px 3px #ccc}		

		xxx.labelGroup {font-weight:bold}
		.labelGroup .collapseArrow, .labelGroup .labelTitle {display:inline-block}
		.labelHeader {border-top:1px solid #ccc;white-space:nowrap;font:11px arial,sans-serif;text-align:center}
		.inboxLabelAreaWrapper:hover, .labelHeader:hover {cursor:pointer;background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#fafafa));}
		html.notif .labelHeader {border-bottom:1px solid #ccc}
		
		/* 2 or more emails */
		html.notif.compact .subject {white-space:nowrap;margin:0}
		html.notif.compact #inboxes .mail {padding: 3px 5px}
		html.notif.veryCompact .summary {white-space:nowrap}
		html.notif.veryCompact .labelHeader {font-size:10px;line-height:10px}
		html.notif.extremelyCompact .summary {display:none}
		html.notif.extremelyCompact .labelHeader {font-size:9px;line-height:9px}
		
		#by {font-size:11px;color:black;margin-left:2px}
		
		#showAllEmails {display:none;opacity:0;margin-right:7px;margin-top: 3px;vertical-align: top}
		#showAllEmails:hover {text-decoration:underline;cursor:pointer}
		
		.alwaysHide {display:none !important}
		
		.account {margin-right:2px}
		
		#inboxes, #contacts {float:left;display:inline-block;overflow-y: auto;margin-right:5px;max-height:500px}
		#contacts::-webkit-scrollbar {width:20px}
		
		.account:not(:first-child) .inbox {margin-top: 5px}
		
		#fullEmail {vertical-align:top;float:left;border:1px solid #ddd}
		#fullEmailContent {max-height:412px;clear:left;overflow-x:auto;overflow-y:auto}
		
		#fullEmailActionButtons {position:relative;border-bottom:1px solid #ddd}
		#fullEmailActionButtons, #fullEmailSubject {padding:8px 10px}
		
		#fullEmailSubject {margin-bottom: 6px;float:left;font-size:18px;font-family: arial,sans-serif;color: #222;width:450px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
		#fullEmailSubject.displayImages {width:220px}
		#fullEmailDisplayImagesWrapper {display:none;background:white;padding:2px;border-radius: 3px;border:1px solid rgb(207, 207, 207);margin-top:5px;margin-right:5px;float:right;text-align:right}
		
		#fullEmail .quickActions {display:none} 
				
		.padded {padding: 2px 4px 2px 4px}
		.margin {margin-bottom: 5px !important}
		.collapseArrow {padding:5px;opacity: 0.5;-webkit-transition: opacity 0.05s ease-in;width:11px;height:15px;background-image:url(/images/arrow_down.png);background-repeat:no-repeat;background-position: 3px 1px}
		.collapseArrow.collapsed {background-image:url(images/arrow_right.png)}
		.collapseArrow:hover {opacity:1;cursor:pointer}
		.collapseArrow.hidden {opacity:0}		
		
		.squished .summary::-webkit-scrollbar, .mail.read .summary::-webkit-scrollbar {display:none}
		.squished .upArrow, .squished .downArrow, .mail.read .upArrow, .mail.read .downArrow {display:none !important}
		
		.mail.hideScrollbars .summary::-webkit-scrollbar {border:none}
		.mail.hideScrollbars .summary::-webkit-scrollbar-thumb {background:none;-webkit-box-shadow:none}
		.summary::-webkit-scrollbar {border:1px solid #ccc}
		
		.summary {opacity:0.55;xxxcolor:#777;cursor:pointer;white-space:normal;overflow-x:hidden;overflow-y:auto;xxoverflow:hidden;xxoverflow-x:hidden;xxoverflow-y:auto}
		xx.summary > td > table > tbody > tr > td:first-child {padding:3px 0 0 0px}
		.summary.scrollbars  {opacity:1}
		
		.upArrow, .downArrow {opacity:0.6;display:none;position:absolute;left:44%;width:0;height:0;border-left:50px solid transparent;border-right:50px solid transparent}

		.upArrow {border-bottom:10px solid #ccc;margin-bottom:-10px;opacity:0.4}
		html.notif .upArrow {border-bottom:6px solid #ccc;margin-bottom:-6px}
		
		.downArrow {border-top:10px solid #ccc;margin-top:-10px}
		html.notif .downArrow {border-top:6px solid #ccc;margin-top:-6px}
		
		.upArrow:hover, .downArrow:hover {opacity:0.90}
		html.notif .upArrow, html.notif .downArrow {left:40%;border-left:30px solid transparent;border-right:30px solid transparent}
		
		#header {float:left;margin:3px 0 0 3px}
		#logo {display:none;width:32px;margin-top:-8px}		
		#title {color: #666;font-size: 110%;font-weight: bold;text-decoration: none;xxtext-shadow: 1px 1px 1px #000;xxxletter-spacing: 1px;}
		#title:focus {outline:none}
		#title:hover {text-decoration:underline}
		div#menu {float: right;}
		
		.inboxLink {display:inline-block;font-size:110%;line-height:25px;padding-left:5px}
		.inboxLink .icon {height:17px}
		
		.indicator {border-right: 2px solid;}
		.indicator.i0 {border-color: #79B;}
		.indicator.i1 {border-color: #ec5f65;}
		.indicator.i2 {border-color: #eadf30;}
		.indicator.i3 {border-color: #60b579;}
		
		.mail {position:relative;padding:4px 5px;border-top:1px solid #ccc}
	
		.mail,
		.mail .author {background:rgba(255,255,255,.9)}
		
		.mail .emailDetails .unread,
		.mail .subject {font-weight:bold}
		
		.mail .emailDetailsTopRight {background:white}
		
		.mail.read .emailDetails .unread,
		.mail.read .subject,
		.mail.read .date {font-weight:normal}
						
		.mail.read,
		.mail.read .emailDetailsTopRight {background:rgba(243,243,243,.85)}
		
		.mail.read .summary {-webkit-transition: height 0.5s ease;max-height:32px !important}
		.mail.read .summary.scrollbars {display:none}
		xx.mail.read:hover {opacity:1}
		
		.mail .button.markAsRead {display:inline-block}
		.mail .button.markAsUnread {display:none}
		
		.mail.read .button.markAsRead {display:none}
		.mail.read .button.markAsUnread {display:inline-block}
		
		.date {min-width: 57px;display: inline-block;text-align: right}

		.imageArea {margin-right: 8px}
		.emailDetails {border-radius:3px}
		
		xx.inboxLabelArea:hover,
		xx.mail:hover,
		.mail.selected,
		.mail.selected .emailDetailsTopRight,
		xx.mail:hover xx.emailDetailsTopRight {background-color:#F9F9E0 !important}
		
		.emailDetails:hover {cursor:pointer}
		
		.contactPhoto {display:none;width:32px;height:32px}
		#inboxes .contactPhoto {width:54px;height:54px}
		html.notif.compact #inboxes .contactPhoto {width:50px;height:50px}
		html.notif.veryCompact #inboxes .contactPhoto {width:42px;height:42px}
		html.notif.extremelyCompact #inboxes .contactPhoto {width:30px;height:30px}

		
		.fullEmailSenderArea .contactPhoto {display:inline}
		.fullEmailSenderArea .author {font-weight:bold;padding-right:10px;position:relative;z-index:20}
		.fullEmailSenderArea .subject {display:none}
		.fullEmailSenderArea .summary {margin-top:3px;display:none}
		.fullEmailSenderArea .date {font-weight:normal}
		
		.fullEmailSenderArea .emailDetailsTopRight {background:none;height:5px}
		
		#inboxes .button {padding:0px 8px}
		
		
		
		.spaceRight {margin-right:7px}
		html.notif .spaceRight {margin-right:2px}
		
		
		.timeTopRight {z-index:5;white-space:nowrap;position:fixed;right:8px;padding-left:10px;opacity:0.55;margin-top:3px;font-weight:normal;font-size:xx-small;xxxbackground-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, rgb(245,	245, 245) ), color-stop(0.8, rgb(255, 255, 255) ) );}
		.timeDetailsTopRight.fixed {position:fixed;top:129px;xxright:13px}
		
		.emailDetailsTopRight {z-index:5;white-space:nowrap;position:absolute;top:-2px;right:0px;padding-left:10px;xxfont-weight:bold;xxxbackground-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, rgb(245,	245, 245) ), color-stop(0.8, rgb(255, 255, 255) ) );}
		.emailDetailsTopRight.fixed {position:fixed;top:129px;xxright:13px}

		html.notif .emailDetailsTopRight.fixed {top:36px}
		html.notif .emailDetailsTopRight.fixed .date {display:none}

		.emailDetailsTopRight .date {padding-right:3px}
		
		.inboxLabelArea.hasUnread {font-weight:bold}
		
		#inboxes.squished .inboxActions {display:none;opacity:0}
		
		#inboxes.squished .quickActions,		
		#inboxes.squished .timeAgo,
		#inboxes.squished .open,
		#inboxes.squished .reply {display:none}
		


.vbox {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-box-align: stretch;
}
