::-webkit-scrollbar {width:12px;height:8px} /* must balance width with initFixedArea() right */
::-webkit-scrollbar:hover, html.notif ::-webkit-scrollbar {border:1px solid #ccc}
::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,0.2);-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);}
::-webkit-scrollbar-thumb:hover {background:rgba(0,0,0,0.4)}
::-webkit-scrollbar-button {width: 0;height: 0;display: none;}
::-webkit-scrollbar-corner {background-color: transparent}

a {text-decoration: none;color: #15c}
a:hover {text-decoration:underline}
body {font-family: arial, sans-serif;font-size: 0.8em;margin:0 0 0 2px}
div#menu {float: right;}
html {overflow:hidden;position:relative}
html {min-width:631px}
html.externalPopupWindow {min-width:851px}
html.externalPopupWindow #queues {width:851px}
img {vertical-align: text-top}


.collapseArrow {padding:5px;opacity: 0.5;-webkit-transition: opacity 0.05s ease-in;width:11px;height:15px;background-image:url(/images/arrow_down.png);background-repeat:no-repeat;background-position: 3px 1px}
.collapseArrow.collapsed {background-image:url(/images/arrow_right.png)}
.collapseArrow:hover {opacity:1;cursor:pointer}
.collapseArrow.hidden {opacity:0}		
.close {background-image:url(/images/sprite_black.png) !important;background-position:-118px -117px}
.date {min-width: 57px;display: inline-block;text-align: right}
.downArrow {border-top:10px solid #ccc;margin-top:-10px}
.dropdownArrow {height:21px;padding:4px 4px !important}
.dropdownArrow div {display:inline-block}
.dropdownArrow div:nth-child(2) {background-image:url(/images/sprite_black2.png);background-position:-42px -84px}
.hbox {display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-align: stretch;position: relative;}
.icon {display:inline-block;opacity:.55;width:21px;height:21px;background-image:url(/images/sprite_black2.png);background-repeat: no-repeat}
.icon:hover {opacity:1;cursor:pointer}
.imageArea {margin-right: 8px}
.inline-block {display:inline-block}
.loading {opacity:0.7;background-image: url('/images/ajax-loader.gif');background-position: center center;background-repeat: no-repeat;background-size:34px; width: inherit; height: 50px}
.margin {margin-bottom: 5px !important}
.notes::-webkit-scrollbar {border:1px solid #ccc}
.notes {opacity:0.55;xxxcolor:#777;cursor:pointer;white-space:normal;overflow-x:hidden;overflow-y:auto;xxoverflow:hidden;xxoverflow-x:hidden;xxoverflow-y:auto}
.notes.scrollbars  {opacity:1}
.optionsIcon {opacity:0.4;background-image: url('/images/options.png');background-position: 3px 3px;background-size: 16px}
.padded {padding: 2px 4px 2px 4px}
.queue {border: 1px solid #ddd}
.queue, .queueLabelAreaWrapper {border-radius:6px 0 0 0}
.queueLabelArea, .ticketDetails {overflow:hidden;white-space:nowrap;margin-right:3px;margin-top:3px}
.queueLabelAreaWrapper {background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f3f3f3));xxbackground:#f7f7f7}		
.queueLabelArea, .hastickets {font-weight:bold}
.queueLabelAreaWrapper:hover, .queueFor {text-shadow:1px 1px 3px #ccc}		
.queueLabelAreaWrapper:hover {cursor:pointer;background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#fafafa));}
.queuewrapper {margin-right:2px}
.queuewrapper:not(:first-child) .queue {margin-top: 5px}
.refresh {margin-left:2px;background-position:-63px -20px;}
.ticket {position:relative;padding:4px 5px;border-top:1px solid #ccc}
.ticket,
.ticket .author {background:rgba(255,255,255,.9)}
.ticket .ticketDetails .ticketnumber,
.ticket .ticketTitle {font-weight:bold}
.ticketTitle {font-weight:bold;color:#333}
.ticketTitle {margin:4px 0;display:inline-block}
.ticketsGroup .collapseArrow  {display:inline-block}
.ticket.hideScrollbars .notes::-webkit-scrollbar {border:none}
.ticket.hideScrollbars .notes::-webkit-scrollbar-thumb {background:none;-webkit-box-shadow:none}
.ticketDetails {border-radius:3px}
.ticketDetails:hover {cursor:pointer}
.timeTopRight {z-index:5;white-space:nowrap;position:fixed;right:8px;padding-left:10px;opacity:0.55;margin-top:3px;font-weight:normal;font-size:xx-small;xxxbackground-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, rgb(245,	245, 245) ), color-stop(0.8, rgb(255, 255, 255) ) );}
.ticketDetailsTopRight {z-index:5;white-space:nowrap;position:absolute;top:-2px;right:0px;padding-left:10px;xxfont-weight:bold;xxxbackground-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, rgb(245,	245, 245) ), color-stop(0.8, rgb(255, 255, 255) ) );}
.ticketDetailsTopRight .date {padding-right:3px}
.upArrow, .downArrow {opacity:0.6;display:none;position:absolute;left:44%;width:0;height:0;border-left:50px solid transparent;border-right:50px solid transparent}
.upArrow {border-bottom:10px solid #ccc;margin-bottom:-10px;opacity:0.4}
.upArrow:hover, .downArrow:hover {opacity:0.90}
.vbox {display: -webkit-box;-webkit-box-orient: vertical;-webkit-box-align: stretch;}

#queues {width:631px}		
#topRightControls {position:absolute;top:5px;right:5px} /* display:inline-block;float:right */
#scrollAreaWrapper {width:100%;clear:left;overflow:hidden;padding-top:7px}
#scrollArea {left:0;position:absolute;width:2200px}
#header {float:left;margin:3px 0 0 3px}
#logo {display:none;width:32px;margin-top:-8px}		
#title {color: #666;font-size: 110%;font-weight: bold;text-decoration: none;xxtext-shadow: 1px 1px 1px #000;xxxletter-spacing: 1px;}
#title:focus {outline:none}
#title:hover {text-decoration:underline}

