body {font-family: verdana,helvetica, arial, sans-serif;font-size: 10pt; background: #593e80;}
a {text-decoration:none; color:#000;}
a:hover {text-decoration:underline;}
#container, #spinner { background:#F6F6EF;}
#header {height:26px; background: #ff0; color:#222;}
#header img { border: 0px solid #fff; float:left; margin:3px;}
#header a, #header span, #header h1 { color:#222; float:left; margin:5px 2px 0 5px; }
#title, a#title { font-weight:bold; font-size:14px; margin-top:5px; }
#feed {min-width:auto; margin:5px; font-size:9pt; padding-bottom:2px; }
#feed table, #feed a:visited, #feed a.comments, #feed td:nth-child(1), #footer, #footer a, 
#feed td { vertical-align:top; }
.link { padding: 2px 0px; }
.link span { margin-right:3px;}

.error {white-space: nowrap;color: red;}
#footer {font-size:11px;}
.left {float:left;}
.right {float:right;}
#spinner {height:100px; text-align:center; padding-top:50px;}


#OptionsPage #header {margin-bottom:20px;}
#OptionsPage #container {width:85%; margin:auto;}
#OptionsPage label {margin-right:10px;}
#OptionsPage .second-radio {margin-left:10px;}
#OptionsPage p { color:#828282;}
#OptionsPage a {text-decoration:underline;}
#OptionsPage #feed {margin-left:10px;}
